/*
@mixin 
*/
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  background-color: #29602A;
  display: flex;
  width: 100%;
  height: 15%;
  margin: 0;
}
header a {
  text-decoration: none;
  margin: auto;
}
header h1 {
  color: #FFBF33;
  font-size: 1.8em;
  font-family: "Gill Sans", sans-serif;
  margin: auto;
}

section {
  width: 100%;
  height: 75.2%;
  margin: 0% 0% 0% 0%;
  display: flex;
}
section input {
  visibility: hidden;
}

footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  background-color: #29602A;
  width: 100%;
  height: 65px;
  margin: 0;
}
footer > .footer__element {
  text-decoration: none;
}
footer > .footer__element h2 {
  color: #FFBF33;
  font-size: 1.5em;
  text-align: center;
}
footer > .footer__element:first-child {
  margin-left: 4%;
}
footer > .footer__element:nth-child(2) {
  margin-right: 4%;
}
footer > .footer__element .footer__element-vibration:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.sectionpindex {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.sectionpindex .sectionpindex__element:first-child, .sectionpindex .sectionpindex__element:nth-child(3) {
  width: 12%;
  height: 40%;
  margin: 0% 0% 0% 35%;
}
.sectionpindex .sectionpindex__element:nth-child(2), .sectionpindex .sectionpindex__element:nth-child(4) {
  width: 12%;
  height: 40%;
  margin: 0% auto 0% 6%;
}
.sectionpindex .sectionpindex__element:nth-child(1), .sectionpindex .sectionpindex__element:nth-child(2) {
  margin-top: 1%;
}
.sectionpindex .sectionpindex__element:nth-child(3), .sectionpindex .sectionpindex__element:nth-child(4) {
  margin-top: 0.8%;
}
.sectionpindex .sectionpindex__element:nth-child(5) {
  margin-top: 0.6%;
  align-self: flex-end;
  width: 100%;
}
.sectionpindex #btn_prochain {
  text-align: center;
}
.sectionpindex label {
  padding: 1.5vh 2%;
  border-radius: 0.5rem;
  background-color: #29602A;
}
.sectionpindex label span {
  color: #FFBF33;
  font-size: 1.8em;
}

.sectionpindex__imgs4menus-zoom {
  overflow: hidden;
}
.sectionpindex__imgs4menus-zoom .sectionpindex__imgs4menus {
  width: 100%;
  height: 100%;
  margin: 0%;
  filter: blur(0.7px);
  opacity: 85%;
  transition: 0.8s ease-in-out;
}
.sectionpindex__imgs4menus-zoom:hover img {
  transform: scale(1.42);
  opacity: 100%;
  filter: blur(0px);
}

div#deplacement_points .point {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0;
  position: relative;
  background: #FFBF33;
  animation: deplacement_points 1.4s linear infinite;
}
div#deplacement_points .point:nth-child(2) {
  animation-delay: -1.1s;
}
div#deplacement_points .point:nth-child(3) {
  animation-delay: -0.9s;
}
@keyframes deplacement_points {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}

#toggle:checked ~ div#deplacement_points .point {
  bottom: 20px;
  left: 6px;
  opacity: 1;
}
#toggle:checked ~ label span {
  opacity: 0;
}

.sectionp1234 {
  flex-direction: column;
}
.sectionp1234 > .sectionp1234_element:first-child {
  margin: auto;
  height: 10%;
  margin-top: 0.4%;
}
.sectionp1234 > .sectionp1234_element h1 {
  padding-top: 0.7%;
  margin: 0;
}
.sectionp1234 > .sectionp1234_element:nth-child(2) {
  width: 380px;
  height: 87%;
  margin: 0.4% auto 2% auto;
}

.conteneur_image1234 {
  width: 100%;
  height: 100%;
  margin: 0%;
}
.conteneur_image1234 .imgmenu1234 {
  width: 100%;
  height: 100%;
}
.conteneur_image1234 #Entree, .conteneur_image1234 #Dessert {
  opacity: 0;
  position: relative;
  bottom: 81%;
  width: 100%;
  height: 25%;
}
.conteneur_image1234 #Plat {
  opacity: 0;
  position: relative;
  bottom: 81%;
  width: 100%;
  height: 20%;
}

/*Page de Menu 1 */
#Entree .Entree__element-menu1 {
  border-bottom: 1.6px black solid;
  width: 20%;
  position: relative;
  top: 18.6%;
  left: 40%;
}

#Plat .Plat__element-menu1 {
  border-bottom: 1.6px black solid;
  width: 23%;
  position: relative;
  top: 25.3%;
  left: 38%;
}

#Dessert .Dessert__element-menu1 {
  border-bottom: 1.6px black solid;
  width: 27%;
  position: relative;
  top: 25.3%;
  left: 36%;
}

/*Page de Menu 2 */
#Entree .Entree__element-menu2 {
  border-bottom: 1.6px black solid;
  width: 36%;
  position: relative;
  top: 27.8%;
  left: 31.5%;
}

#Plat .Plat__element-menu2 {
  border-bottom: 1.6px black solid;
  width: 27%;
  position: relative;
  top: 19.5%;
  left: 36.5%;
}

#Dessert .Dessert__element-menu2 {
  border-bottom: 1.6px black solid;
  width: 31%;
  position: relative;
  top: 24.2%;
  left: 34%;
}

/*Page de Menu 3 */
#Entree .Entree__element-menu3 {
  border-bottom: 1.6px black solid;
  width: 29%;
  position: relative;
  top: 31%;
  left: 35.5%;
}

#Plat .Plat__element-menu3 {
  border-bottom: 1.6px black solid;
  width: 30%;
  position: relative;
  top: 14.5%;
  left: 34.5%;
}

#Dessert .Dessert__element-menu3 {
  border-bottom: 1.6px black solid;
  width: 25%;
  position: relative;
  top: 10.5%;
  left: 38%;
}

/*Page de Menu 4 */
#Entree .Entree__element-menu4 {
  border-bottom: 1.6px black solid;
  width: 12%;
  position: relative;
  top: 29.8%;
  left: 43.5%;
}

#Plat .Plat__element-menu4 {
  border-bottom: 1.6px black solid;
  width: 22%;
  position: relative;
  top: 14.5%;
  left: 39.5%;
}

#Dessert .Dessert__element-menu4 {
  border-bottom: 1.6px black solid;
  width: 25%;
  position: relative;
  top: 10.5%;
  left: 38%;
}

/* Declencheur */
#Entree:hover, #Plat:hover, #Dessert:hover {
  opacity: 1;
}

header {
  /*Tablette*/
}
@media (max-device-width: 1024px) {
  header {
    width: 100%;
    height: 11%;
    margin: 0;
  }
}
@media (min-device-width: 600px) and (max-device-width: 1024px) {
  header h1 {
    font-size: 3.3em;
  }
}

footer {
  /*Tablettes et portables*/
}
@media (max-device-width: 1024px) {
  footer {
    width: 100%;
    height: 10%;
    margin: 0px;
  }
}
footer .footer__element {
  /*Portable*/
  /*Tablette*/
}
@media (max-device-width: 1024px) {
  footer .footer__element:first-child {
    margin: auto 0 auto 2%;
  }
  footer .footer__element:nth-child(2) {
    margin: auto 2% auto 0%;
  }
}
@media (max-device-width: 600px) {
  footer .footer__element h2 {
    color: #FFBF33;
    font-size: 1.3em;
  }
}
@media (min-device-width: 600px) and (max-device-width: 1024px) {
  footer .footer__element h2 {
    color: #FFBF33;
    font-size: 2.4em;
  }
}

.sectionpindex {
  /*Portable*/
}
@media (max-device-width: 1024px) {
  .sectionpindex {
    width: 100%;
    height: 79.4%;
    margin: 1.2% 0% 0% 0%;
  }
}
.sectionpindex .sectionpindex__element {
  /* Tablette*/
}
@media (max-device-width: 600px) {
  .sectionpindex .sectionpindex__element:first-child {
    width: 40%;
    height: auto;
    margin: 2.3% 0% 0% 8%;
  }
  .sectionpindex .sectionpindex__element:nth-child(2) {
    width: 40%;
    height: auto;
    margin: 2.3% 6% 0% 0%;
  }
  .sectionpindex .sectionpindex__element:nth-child(3) {
    width: 40%;
    height: auto;
    margin: 3% 0% 0% 8%;
  }
  .sectionpindex .sectionpindex__element:nth-child(4) {
    width: 40%;
    height: auto;
    margin: 3% 6% 0% 0%;
  }
  .sectionpindex .sectionpindex__element:nth-child(5) {
    margin-top: 6%;
  }
}
@media (min-device-width: 600px) and (max-device-width: 1024px) {
  .sectionpindex .sectionpindex__element:first-child {
    width: 35%;
    height: 40%;
    margin: 2.3% 0% 0% 12%;
  }
  .sectionpindex .sectionpindex__element:nth-child(2) {
    width: 35%;
    height: 40%;
    margin: 2.3% 12% 0% 0%;
  }
  .sectionpindex .sectionpindex__element:nth-child(3) {
    width: 35%;
    height: 40%;
    margin: 3% 0% 0% 12%;
  }
  .sectionpindex .sectionpindex__element:nth-child(4) {
    width: 35%;
    height: 40%;
    margin: 3% 12% 0% 0%;
  }
  .sectionpindex .sectionpindex__element:nth-child(5) {
    margin-top: 4%;
  }
  .sectionpindex .sectionpindex__element label {
    padding: 2.2vh 3.5%;
  }
  .sectionpindex .sectionpindex__element label span {
    font-size: 2.2em;
  }
  .sectionpindex .sectionpindex__element .dot {
    width: 17px;
    height: 17px;
  }
}

.sectionp1234 {
  /* Tablettes et portables */
}
@media (max-device-width: 1024px) {
  .sectionp1234 {
    width: 100%;
    height: 68.8%;
    margin: 0% 0% 0% 0%;
  }
}
.sectionp1234 .sectionp1234_element {
  /* Portable */
  /* Tablette */
}
@media (max-device-width: 600px) {
  .sectionp1234 .sectionp1234_element h1 {
    color: black;
    font-size: 1.9em;
  }
  .sectionp1234 .sectionp1234_element:nth-child(1) {
    margin-top: 5%;
  }
  .sectionp1234 .sectionp1234_element:nth-child(2) {
    width: 85%;
    height: 85%;
    margin: 3% auto 2% auto;
  }
}
@media (min-device-width: 600px) and (max-device-width: 1024px) {
  .sectionp1234 .sectionp1234_element h1 {
    color: black;
    font-size: 3.2em;
  }
  .sectionp1234 .sectionp1234_element:nth-child(1) {
    margin-top: 2%;
  }
  .sectionp1234 .sectionp1234_element:nth-child(2) {
    width: 73%;
    height: 95%;
    margin: 2% auto 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
