
.sectionp1234
{
    
    flex-direction: column;
    @media (min-width: 600px){
        @include taille_element(100%,75%,0%);
    }

    > .sectionp1234_element
    {
        &:first-child{
            text-align: center;
            height: 10%;
        }
            h1
            {
                padding-top: 0.7%;
                margin: 0;
            }
        @media (min-width: 600px) {
            &:nth-child(2)
            {
                @include taille_element(30%,85%,0 auto 2% auto)
            }
        }
    
    }
    
}


.conteneur_image1234 ,.imgmenu1234
    {
        display: block;
        @include image_proportions(100%,auto) ;
        height:100%;
        
    }








#Entree:hover 
{
    opacity: 0;
}




/*Page de Menu 1 */

.conteneur_image1234{
    #Entree {
    border: 1px red solid;
    @include conteneur_soulignement(35%,15%);
    }
    #Plat {
        border: 1px purple solid;
        @include conteneur_soulignement(50%,15%);
        }
    
    
}
#Entree .Entree__element-menu1
{  
    &:nth-child(1)
    {
        @include soulignement_img1234(41%) ;
        
    }

    &:nth-child(2)
    {
        @include soulignement_img1234(43.4%) ;
    }

    &:nth-child(3)
    {
        @include soulignement_img1234(46.2%) ;
    }
    &:nth-child(4)
    {
        @include soulignement_img1234(48.7%) ;
    }
}

#Plat .Plat__element-menu1
{  
    &:nth-child(1)
    {
        @include soulignement_img1234(41%) ;
        height: 1%;
    }

    &:nth-child(2)
    {
        @include soulignement_img1234(43.4%) ;
    }

    &:nth-child(3)
    {
        @include soulignement_img1234(46.2%) ;
    }
    &:nth-child(4)
    {
        @include soulignement_img1234(48.7%) ;
    }
}
