@mixin typographie($police_size,$police_couleur)
   {
    color: $police_couleur;
    font-size: $police_size;
    }

@mixin image_proportions($width_img,$margin_img)
    {
        width: $width_img;
        margin: $margin_img;
    }

@mixin taille_element($width,$heigth,$margin)
{
    width: $width;
    height: $heigth;
    margin: $margin;
}
/*
@mixin 
*/
@mixin conteneur_soulignement($top,$height)
{
    
    position: absolute;
    top: $top;
    width: 30%;
    height: $height;
    left: 35%;
}

@mixin soulignement_img1234($top)
{
    border-bottom: 1px black solid;
    width: 30%;
    position: absolute;
    top: $top;
    left: 35%;
    opacity: 1;
}

