@mixin typographie($police_size,$police_couleur)
   {
    color: $police_couleur;
    font-size: $police_size;
    }



@mixin taille_element($width,$heigth,$margin)
{
    width: $width;
    height: $heigth;
    margin: $margin;
}

@mixin dégradé_couleur($couleur1,$couleur2,$couleur3)
{
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left,$couleur1,$couleur2,$couleur3);
}

