@mixin typographie($police_size,$police_couleur)
   {
    color: $police_couleur;
    font-size: $police_size;
    }

@mixin image_proportions($width_img,$margin_img)
    {
        width: $width_img;
        margin: $margin_img;
    }

@mixin taille_element($width,$heigth,$margin)
{
    width: $width;
    height: $heigth;
    margin: $margin;
}
/*
@mixin 
*/
@mixin conteneur_soulignement($top,$height)
{
    
    position: relative;
    bottom: $top;
    width: 100%;
    height: $height;
    
    border: 1px solid black;
}

@mixin soulignement_img1234($top,$left,$width)
{
    border-bottom: 1.5px black solid;
    width:$width ;
    position: relative;
    top: $top;
    left: $left;
    
}

