
$couleur_basique : black;
$couleur_background :#29602A;
$couleur_cliquable : #FFBF33;
$couleur_fondmenu1 :#ffcdd2;

$width_4menus : 100%;
$margin_4menus : 0% 0% 0% 0%;

$breakpoints: (
  "mobile": 599px
);