header{
    
    background-color: $couleur_background;
    display: flex;

    
    @include taille_element(100%,15%,0);
    a{
        text-decoration: none;
        margin:auto;
    }
   
    h1{
        @include typographie(1.8em,$couleur_cliquable);
        font-family: "Gill Sans", sans-serif;
        margin:auto;
    }

}